
gitdb==4.0.10
GitPython==3.1.31

markdown-it-py==2.2.0

matplotlib==3.7.1
mdurl==0.1.2
numpy==1.24.3
packaging==23.1
pandas==2.0.1
patsy==0.5.3

pyecharts==2.0.3

python-dateutil==2.8.2

scikit-learn==1.2.2
scipy==1.10.1

sklearn==0.0.post5
smmap==5.0.0
statsmodels==0.14.0
streamlit==1.22.0
streamlit-echarts==0.4.0

tqdm==4.65.0

